**/__pycache__
**/migrations
**/node_modules
frontend/static/frontend/main.js
frontend/static/frontend/main.js.LICENSE.txt
frontend/static/frontend/
*.csv
frontend/static/images/explore.jpg
frontend/static/images/welcome.jpg
api/constants.py
