.active a {
    background-color: #182d3a !important;
    border-color: #182d3a !important;
}

.page-link {
    color: #182d3a;
}

.page-link:hover {
    color: #182d3a;
}

.start-searching {
    color: #182d3a;
    animation: opacitystartsearching 6s ease-in-out infinite;
}

@keyframes opacitystartsearching {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}